.maincontainer{
    width: 360px;
    margin: auto;
    border: solid;
    border-color: black;
    border-width: 2px;
}

.topPart{
    padding: 5px;
    height: 80px;
    font-size: x-large;
    font-weight: bold;
    background: #000000;
    color: #ffffff;
    vertical-align: middle;
}

.mainStuff{
    width: 350px;
    margin: auto;
}

#bgi{
    background-image: url(images/thaiBuddhaSmall.png), url(images/midbreak.png), url(images/thaiBuddhaSmall.png);
    opacity: 0.2;
    background-repeat: no-repeat;
    background-position: center top, center center, center bottom;
}

.showImage{
    width: 300px;
    height: 225px;
    margin: auto;
    padding-top: 6px;
    padding-bottom: 6px;
}

.uptext{
    font-size: 16px;
}

.lowtext{
    font-size: 16px;
    padding-bottom: 8px;
}

.bottomPart{
    height: 16px;
    font-size: 12px;
    padding: 8px;
}

.myButton{
    border: solid;
    border-color: black;
    border-width: 1px;
    padding: 8px 16px;
}

.NextButton{
    float: right;
    background-color: #4CAF50;
    color: white;
}

.PreviousButton{
    float: left;
    background-color: lightgrey;
    color: black;
}