doctype html
html(lang='en')
    head
        block headBlock
            meta(charset='utf-8', name="viewport", content="width=device-width, initial-scale=1")
            title Digital Futures Initiative
    body
        .maincontainer
            block myBody
